/**
 * Croissant: Helpers
 */

/* Shapes
   ========================================================================== */

.rounded {
	border-radius: 0.25rem !important;
}

.rounded-circle {
	border-radius: 50% !important;
}

/* Shadows
   ========================================================================== */

.card {
	border-radius: 0.25rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.card.is-background {
	background: rgba(127,127,127,0.05);
}

.card,
.raised,
.animated-raised {
	box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.2);
}

.raised:hover,
.raised:focus,
.animated-raised:hover,
.animated-raised:focus {
	box-shadow: 0 4px 20px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.25);
}

.raised:active
.animated-raised:active {
	box-shadow: none;
}

.animated-raised:hover,
.animated-raised:focus {
	position: relative;
	top: -1px;
}

.animated-raised:active {
	position: relative;
	top: 0;
}

/* Misc
   ========================================================================== */

/**
 * Stretched link, must be in relative parent
 */
.stretched-link::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	content: "";
}
