/* Button skin
   ========================================================================== */

.button,
button,
[type="submit"],
[type="reset"],
[type="button"],
[type="image"] {
	background: #7F7F7F;
	color: #fff;
	border: none;
	border-radius: 0.25rem;
}

:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]):hover,
:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]):focus {
	-webkit-filter: saturate(75%) brightness(125%);
	filter: saturate(75%) brightness(125%);
	text-decoration: none;
}

:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]):active {
	-webkit-filter: brightness(125%);
	filter: brightness(125%);
	box-shadow: none !important;
}

:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]):disabled {
	opacity: 0.6;
}

:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]).is-primary {
	background: var(--primary-color, #0071AD);
}

:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]).is-accent {
	background: var(--accent-color, #FFC200);
}

:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]).is-danger {
	background: var(--danger-color, #DE2A2A);
}

:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]).is-alert {
	background: var(--alert-color, #C44F0C);
}

:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]).is-success {
	background: var(--success-color, #5C7E28);
}

/* Button variant: Flat
   ========================================================================== */

.button--flat {
	color: currentColor;
	background: transparent !important;
}

.button--flat:hover,
.button--flat:focus {
	background: rgba(127,127,127,0.1) !important;
}

.button--flat.is-primary {
	color: var(--primary-color, #0071AD);
}

.button--flat.is-accent {
	color: var(--accent-color, #FFC200);
}

.button--flat.is-danger {
	color: var(--danger-color, #DE2A2A);
}

.button--flat.is-alert {
	color: var(--alert-color, #C44F0C);
}

.button--flat.is-success {
	color: var(--success-color, #5C7E28);
}
