.button,
button,
[type="submit"],
[type="reset"],
[type="button"],
[type="image"] {
	cursor: pointer;
	display: inline-block;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	padding: 0 1rem;
	margin: 0.5rem 0;
	white-space: nowrap;
}

.button.rounded-circle,
button.rounded-circle,
input[type="submit"].rounded-circle,
input[type="reset"].rounded-circle,
input[type="button"].rounded-circle,
input[type="image"].rounded-circle {
	width: 2rem;
	padding: 0;
}