/**
 * Module: Buttons
 */

.button,
button,
[type="submit"],
[type="reset"],
[type="button"],
[type="image"] {
	cursor: pointer;
	display: inline-block;
	height: 2rem;
	margin: 0.5rem 0;
	padding: 0 0.5rem;
	line-height: 2rem;
	white-space: nowrap;
	text-align: center;
}

:where(.button, button,[type="submit"],[type="reset"],[type="button"],[type="image"]).rounded-circle {
	width: 2rem;
	padding: 0;
}
