/* Module : color-scheme-toggle

	<noscript>
		<style>
			.color-scheme-toggle { display: none; }
		</style>
	</noscript>

	<button type="button" class="color-scheme-toggle rounded-circle"></button>

	Needs croissant.js > Spoon: color-mode
   ========================================================================== */

:root,
:root .color-scheme-light {
	--icon-color-scheme: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"white\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"12\" cy=\"12\" r=\"5\"></circle><line x1=\"12\" y1=\"1\" x2=\"12\" y2=\"3\"></line><line x1=\"12\" y1=\"21\" x2=\"12\" y2=\"23\"></line><line x1=\"4.22\" y1=\"4.22\" x2=\"5.64\" y2=\"5.64\"></line><line x1=\"18.36\" y1=\"18.36\" x2=\"19.78\" y2=\"19.78\"></line><line x1=\"1\" y1=\"12\" x2=\"3\" y2=\"12\"></line><line x1=\"21\" y1=\"12\" x2=\"23\" y2=\"12\"></line><line x1=\"4.22\" y1=\"19.78\" x2=\"5.64\" y2=\"18.36\"></line><line x1=\"18.36\" y1=\"5.64\" x2=\"19.78\" y2=\"4.22\"></line></svg>");
}

@media (prefers-color-scheme: dark) {
	:root {
		--icon-color-scheme: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"white\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z\"></path></svg>");
	}
}

:root .color-scheme-dark {
	--icon-color-scheme: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" fill=\"white\" stroke=\"white\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z\"></path></svg>");
}

.color-scheme-toggle {
	background: transparent var(--icon-color-scheme) no-repeat center center;
}

.color-scheme-toggle:hover,
.color-scheme-toggle:focus {
	/* hsl value from starting point of sepia : hsl(54, 15%, 57%) */
	/* See https://css-tricks.com/solved-with-css-colorizing-svg-backgrounds/ */
	filter: brightness(0.75) sepia(1) saturate(5); /* Yellow */
	/* filter: brightness(0.43) sepia(1) saturate(2.2) hue-rotate(79deg); /* Green */
	outline: 0;
}
