/**
 * Module: Content
 */

/* Animated links
   ========================================================================== */
.content a:not([class]) {
	position: relative;
}

.content a:not([class])::after {
	border-top: 0.1em solid var(--primary-color, #0071AD);
	content: "";
	position: absolute;
	right: 100%;
	left: 0;
	bottom: 0.1em;
	transition: right 0.4s cubic-bezier(0,0.5,0,1);
}

.content a:not([class]):hover,
.content a:not([class]):focus {
	text-decoration: none;
}

.content a:not([class]):hover::after,
.content a:not([class]):focus::after {
	right: 0;
}
