input,
textarea,
select {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
	margin: 0.5rem 0;
}

textarea {
	min-height: 4rem;
}

[type="submit"],
[type="reset"],
[type="button"],
[type="image"] {
	width: auto;
}

[type="file"],
[type="color"],
[type="image"],
[type="range"] {
	border: none;
	border-bottom: none; /* Firefox bug with range */
	cursor: pointer;
}

[type="checkbox"],
[type="radio"] { /* Reminder: https://coderwall.com/p/a7tbrq/protip-if-you-want-to-style-checkboxes-radio-buttons-or-select-menus-in-firefox-don-t-bother */
	height: 1.25rem;
	width: 1.25rem;
	padding: 0;
	margin: 0.5rem;
	vertical-align: -0.75rem; /* - (margin + (height - 1rem)) */
	/*background: inherit;*/
	position: relative;
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	display: inline-block;
	cursor: pointer;
	outline: none !important;
}

/* Skin */
input,
textarea,
select {
	color: currentColor;
	/*background-color: transparent;*/
	background-color: var(--background-color-close, #FFFFFF);
	background-clip: padding-box;
	border: 1px solid rgba(125,125,125,0.3);
	border-radius: 3px;
	transition: border-color 0.20s ease-in-out, box-shadow 0.20s ease-in-out;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
	opacity: 0.6;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: var(--primary-color, #0071AD);
	box-shadow: 0 0 0 1px var(--primary-color, #0071AD) inset;
}

input:disabled,
textarea:disabled,
select:disabled {
	background-color: rgba(125,125,125,0.1);
	color: currentColor;
	cursor: default;
}

input:required,
textarea:required,
select:required {
	border-color: initial;
	box-shadow: none;
}

input:not(:focus):invalid,
textarea:not(:focus):invalid,
select:not(:focus):invalid {
	border-color: var(--danger-color, #DE2A2A);
	box-shadow: 0 0 0 1px var(--danger-color, #DE2A2A) inset;
}

/* ===============================
	      Alternate input
   =============================== */

.input-alternate {
	border-color: transparent;
	border-bottom-color: rgba(125,125,125,0.3);
	border-radius: 0 !important;
	background: transparent no-repeat;
	background-image: linear-gradient(to bottom, var(--primary-color, #0071AD), var(--primary-color, #0071AD));
	background-size: 0 2px;
	background-position: 50% 100%;
	transition: border-bottom-color 0.25s ease-in-out, background-size 0.25s ease-in-out;
}

.input-alternate:focus {
	border-color: transparent;
	border-bottom-color: transparent;
	box-shadow: none !important;
	background-size: 100% 2px;
}

.input-alternate:not(:focus):invalid {
	border-color: transparent;
	box-shadow: none !important;
	border-bottom-color: transparent;
	background-image: linear-gradient(to bottom, var(--danger-color, #DE2A2A), var(--danger-color, #DE2A2A));
	background-size: 100% 2px;
}

/* ===============================
	      Floating labels
   =============================== */
.floating-label {
	position: relative;
	width: 100%;
	margin-top: 1rem;
}

.floating-label input:placeholder-shown + .floating-label-text,
.floating-label textarea:placeholder-shown + .floating-label-text {
	position: absolute;
	top: 0.75rem;
	left: 1rem;
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
}

.floating-label input:not(:placeholder-shown) + .floating-label-text,
.floating-label textarea:not(:placeholder-shown) + .floating-label-text {
	position: absolute;
	top: -0.75rem;
	color: currentColor;
	font-size: 0.8rem;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.floating-label input:not(:placeholder-shown):focus + .floating-label-text,
.floating-label textarea:not(:placeholder-shown):focus + .floating-label-text {
	color: var(--primary-color, #0071AD);
}

.floating-label input:not(:placeholder-shown):not(:focus):invalid + .floating-label-text,
.floating-label textarea:not(:placeholder-shown):not(:focus):invalid + .floating-label-text {
	color: var(--danger-color, #DE2A2A);
}

.floating-label .floating-label-error,
.floating-label .floating-label-error {
	position: absolute;
    bottom: -0.75rem;
	opacity: 0;
	color: var(--danger-color, #DE2A2A);
	transition: all 0.3s ease-in-out;
	font-size: 0.8rem;
}

.floating-label input:not(:placeholder-shown):not(:focus):invalid ~ .floating-label-error,
.floating-label textarea:not(:placeholder-shown):not(:focus):invalid ~ .floating-label-error {
	opacity: 1;
}

/* ===============================
	Checkboxes and radio buttons
   =============================== */

[type="checkbox"]::before,
[type="radio"]::before,
[type="checkbox"]::after,
[type="radio"]::after {
	content: "";
	position: absolute;
	left: 0;
	width: 1.25rem;
	height: 1.25rem;
	z-index: 1;
	transition: all 0.3s ease-in-out;
}

/* Radio buttons */
[type="radio"]::before {
	border: 2px solid rgba(125,125,125,1);
	border-radius: 50%;
}

[type="radio"]::after {
	height: 0.625rem; /* (::before width) / 2 */
	width: 0.625rem;
	top: 0.3125rem; /* (::before width) / 4 */
	left: 0.3125rem;
	border-radius: 50%;
	background-color: transparent;
}

[type="radio"]:checked::before {
	border-color: var(--primary-color, #0071AD);
}

[type="radio"]:checked::after {
	background-color: var(--primary-color, #0071AD);
}

/* Checkboxes */
[type="checkbox"]::after {
	border: 2px solid rgba(125,125,125,1);
	border-radius: 3px;
	background-color: transparent;
}

[type="checkbox"]::before {
	top: 0.175rem;
	left: 0.45rem;
	height: 0.75rem;
	width: 0.375rem; /* height / 2 */
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	transform: rotate(45deg);
	z-index: 2;
}

[type="checkbox"]:checked::after {
	background-color: var(--primary-color, #0071AD);
	border-color: transparent;
}

[type="checkbox"]:not(.checkbox--alt):checked::before {
	border-color: #FFFFFF;
}

/* Alternative .checkbox--alt checkboxes */
.checkbox--alt::before {
	transform: none !important;
}

.checkbox--alt:checked::after {
	background-color: transparent !important;
}

.checkbox--alt:checked::before {
	top: 0 !important;
	left: 0.45rem !important;
	height: 1rem !important;
	width: 0.5rem !important; /* height / 2 */
	transform: rotate(45deg) !important;
	border-color: var(--primary-color, #0071AD);
}

/* Switches/Toggle buttons */
.switch {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	user-select: none;
	-webkit-tap-highlight-color:transparent;
	cursor: pointer;
	display: inline-block;
	color: transparent;
	position: relative;
	margin-right: 1.5rem;
}

.switch::after { /* Track */
	content: "";
	position: absolute;
	display: block;
	width: 2.5rem;
	height: 1.25rem;
	border-radius: 100px;
	background-color: #AAAAAA;
	opacity: 0.5;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3) inset;
	border:none !important;
}

.switch::before { /* Thumb */
	content: "";
	position: absolute;
	display: block;
	top: -0.125rem;
	left: 0;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	box-shadow: 0 0px 2px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.2);
	z-index: 2;
	border: none !important;
	transform: initial !important;
}

.switch:checked::before {
	left: 1rem;
}

.switch::before {
	background-color: #FFFFFF;
}

.switch:checked::before,
.switch:checked::after {
	background-color: var(--primary-color, #0071AD);
}

.switch:disabled::after {
	background-color: #AAAAAA;
	opacity: 0.3;
}

.switch:disabled::before {
	background-color: #E6E6E6;
	opacity: 1;
}

/* ===============================
	            Colors
   =============================== */
.is-primary:checked::before {
	border-color: var(--primary-color, #0071AD);
}

.is-primary:checked::after,
.is-primary.switch:checked::before {
	background-color: var(--primary-color, #0071AD);
}

.is-accent:checked::before {
	border-color: var(--accent-color, #FFC200);
}

.is-accent:checked::after,
.is-accent.switch:checked::before {
	background-color: var(--accent-color, #FFC200);
}

.is-danger:checked::before {
	border-color: var(--danger-color, #DE2A2A);
}

.is-danger:checked::after,
.is-danger.switch:checked::before  {
	background-color: var(--danger-color, #DE2A2A);
}

.is-alert:checked::before {
	border-color: var(--alert-color, #C44F0C);
}

.is-alert:checked::after,
.is-alert.switch:checked::before  {
	background-color: var(--alert-color, #C44F0C);
}

.is-success:checked::before {
	border-color: var(--success-color, #5C7E28);
}

.is-success:checked::after,
.is-success.switch:checked::before  {
	background-color: var(--success-color, #5C7E28);
}