/**
 * Croissant: Images helpers
 */

/* Resize
   ========================================================================== */
.is-16x16 {
	height: 16px;
	width: 16px;
}
.is-24x24 {
	height: 24px;
	width: 24px;
}
.is-32x32 {
	height: 32px;
	width: 32px;
}
.is-48x48 {
	height: 48px;
	width: 48px;
}
.is-64x64 {
	height: 64px;
	width: 64px;
}
.is-96x96 {
	height: 96px;
	width: 96px;
}
.is-128x128 {
	height: 128px;
	width: 128px;
}
.is-256x256 {
	height: 256px;
	width: 256px;
}
.is-512x512 {
	height: 512px;
	width: 512px;
}

/* Thumbnail & Avatars
   ========================================================================== */
.thumbnail {
	padding: 0.25rem;
	background-color: var(--background-color-close, #fff);
	border: 1px solid var(--background-color-far, #E1E1E1);
	border-radius: 0.25rem;
}

/**
 * Basically, alias to .rounded-circle .thumbnail .square
 */
.avatar {
	border-radius: 50%;
	object-fit: cover;
	aspect-ratio: 1;
	padding: 0.25rem;
	background-color: var(--background-color-close, #fff);
}
