.button,
button,
[type="submit"],
[type="reset"],
[type="button"],
[type="image"] {
	background: var(--button-color);
	color: currentColor;
	border: none;
	border-radius: 3px;
}

.button:hover,
button:hover,
[type="submit"]:hover,
[type="reset"]:hover,
[type="button"]:hover,
[type="image"]:hover,
.button:focus,
button:focus,
[type="submit"]:focus,
[type="reset"]:focus,
[type="button"]:focus,
[type="image"]:focus {
	-webkit-filter: saturate(95%) brightness(105%);
	filter: saturate(95%) brightness(105%);
	color: currentColor;
	text-decoration: none;
}

.button:active,
button:active,
[type="submit"]:active,
[type="reset"]:active,
[type="button"]:active,
[type="image"]:active {
	-webkit-filter: brightness(115%);
	filter: brightness(115%);
	box-shadow: none !important;
}

.button.disabled,
button:disabled,
[type="submit"]:disabled,
[type="reset"]:disabled,
[type="button"]:disabled,
[type="image"]:disabled {
	opacity: 0.6;
}

.button.is-primary,
button.is-primary,
[type="submit"].is-primary,
[type="reset"].is-primary,
[type="button"].is-primary,
[type="image"].is-primary  {
	background: var(--primary-color);
	color: #fff;
}

.button.is-accent,
button.is-accent,
[type="submit"].is-accent,
[type="reset"].is-accent,
[type="button"].is-accent,
[type="image"].is-accent  {
	background: var(--accent-color);
	color: #fff;
}

.button.is-danger,
button.is-danger,
[type="submit"].is-danger,
[type="reset"].is-danger,
[type="button"].is-danger,
[type="image"].is-danger {
	background: var(--danger-color);
	color: #fff;
}

.button.is-alert,
button.is-alert,
[type="submit"].is-alert,
[type="reset"].is-alert,
[type="button"].is-alert,
[type="image"].is-alert {
	background: var(--alert-color);
	color: #fff;
}

.button.is-success,
button.is-success,
[type="submit"].is-success,
[type="reset"].is-success,
[type="button"].is-success,
[type="image"].is-success {
	background: var(--success-color);
	color: #fff;
}
