input,
textarea,
select {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	display: block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	padding: 0 1rem;
	margin: 0.5rem 0;
}

textarea {
	min-height: 4rem;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

[type="submit"],
[type="reset"],
[type="button"],
[type="image"] {
	width: auto;
}

[type="checkbox"],
[type="radio"] { /* Reminder: https://coderwall.com/p/a7tbrq/protip-if-you-want-to-style-checkboxes-radio-buttons-or-select-menus-in-firefox-don-t-bother */
	height: 1.25rem;
	width: 1.25rem;
	padding: 0;
	margin: 0.5rem;
	vertical-align: -0.75rem; /* - (margin + (height - 1rem)) */
	/*background: inherit;*/
	position: relative;
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	display: inline-block;
	cursor: pointer;
	outline: none !important;
}

/* Skin */
input,
textarea,
select {
	color: currentColor;
	background-color: var(--background-color-close);
	background-clip: padding-box;
	border: 1px solid rgba(125,125,125,0.3);
	border-radius: 3px;
	transition: border-color 0.20s ease-in-out, box-shadow 0.20s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: var(--primary-color);
	box-shadow: 0 0 0 1px var(--primary-color) inset;
}

::placeholder {
	opacity: 0.6;
}

:disabled {
	background-color: rgba(125,125,125,0.1);
	color: currentColor;
	cursor: default;
}

:required {
	border-color: initial;
	box-shadow: none;
}

:not(:focus):invalid {
	border-color: var(--danger-color);
	box-shadow: 0 0 0 1px var(--danger-color) inset;
}

/* ===============================
	Checkboxes and radio buttons
   =============================== */

[type="checkbox"]::before,
[type="radio"]::before,
[type="checkbox"]::after,
[type="radio"]::after {
	content: "";
	position: absolute;
	left: 0;
	width: 1.25rem;
	height: 1.25rem;
	z-index: 1;
	transition: all 0.3s ease-in-out;
}

/* Radio buttons */
[type="radio"]::before {
	border: 2px solid rgba(125,125,125,1);
	border-radius: 50%;
}

[type="radio"]::after {
	height: 0.625rem; /* (::before width) / 2 */
	width: 0.625rem;
	top: 0.3125rem; /* (::before width) / 4 */
	left: 0.3125rem;
	border-radius: 50%;
	background-color: transparent;
}

[type="radio"]:checked::before {
	border-color: var(--primary-color, #0071AD);
}

[type="radio"]:checked::after {
	background-color: var(--primary-color, #0071AD);
}

/* Checkboxes */
[type="checkbox"]::after {
	border: 2px solid rgba(125,125,125,1);
	border-radius: 3px;
	background-color: transparent;
}

[type="checkbox"]::before {
	top: 0.175rem;
	left: 0.45rem;
	height: 0.75rem;
	width: 0.375rem; /* height / 2 */
	border-bottom: 2px solid transparent;
	border-right: 2px solid transparent;
	transform: rotate(45deg);
	z-index: 2;
	border-color: #fff;
}

[type="checkbox"]:checked::after {
	background-color: var(--primary-color);
	border-color: transparent;
}

/* Switches/Toggle buttons */
.switch {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	user-select: none;
	-webkit-tap-highlight-color:transparent;
	cursor: pointer;
	display: inline-block;
	color: transparent;
	position: relative;
	margin-right: 1.5rem;
}

.switch::after { /* Track */
	content: "";
	position: absolute;
	display: block;
	width: 2.5rem;
	height: 1.25rem;
	border-radius: 100px;
	background-color: #AAAAAA;
	opacity: 0.5;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3) inset;
	border:none !important;
}

.switch::before { /* Thumb */
	content: "";
	position: absolute;
	display: block;
	top: -0.125rem;
	left: 0;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	box-shadow: 0 0px 2px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.2);
	z-index: 2;
	border: none !important;
	transform: initial !important;
}

.switch:checked::before {
	left: 1rem;
}

.switch::before {
	background-color: #FFFFFF;
}

.switch:checked::before,
.switch:checked::after {
	background-color: var(--primary-color);
}

.switch:disabled::after {
	background-color: #AAAAAA;
	opacity: 0.3;
}

.switch:disabled::before {
	background-color: #E6E6E6;
	opacity: 1;
}

/* ===============================
	            Colors
   =============================== */
.is-primary:checked::before {
	border-color: var(--primary-color);
}

.is-primary:checked::after,
.is-primary.switch:checked::before {
	background-color: var(--primary-color);
}

.is-accent:checked::before {
	border-color: var(--accent-color);
}

.is-accent:checked::after,
.is-accent.switch:checked::before {
	background-color: var(--accent-color);
}

.is-danger:checked::before {
	border-color: var(--danger-color);
}

.is-danger:checked::after,
.is-danger.switch:checked::before  {
	background-color: var(--danger-color);
}

.is-alert:checked::before {
	border-color: var(--alert-color);
}

.is-alert:checked::after,
.is-alert.switch:checked::before  {
	background-color: var(--alert-color);
}

.is-success:checked::before {
	border-color: var(--success-color);
}

.is-success:checked::after,
.is-success.switch:checked::before  {
	background-color: var(--success-color);
}
