/*!
 * Croissant Mini
 * Licensed MIT (https://github.com/yomli/croissant/blob/main/LICENSE)
 */

/* Light mode */
:root {
	color-scheme: light dark;
	--font-sans: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",Helvetica,Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

	--background-color: #FAFAFA;
	--main-color: rgba(0,0,0,0.8);

	/* Shades */
	--background-color-far: #E1E1E1;
	--background-color-close: #FFFFFF;

	/* Elements colors */
	--button-color: #E1E1E1;

	/* Palette */
	--primary-color: #0071AD; /* Blue */
	--accent-color: #FFC200; /* Yellow, do not use with text */
	--danger-color: #DE2A2A; /* Red */
	--alert-color: #C44F0C; /* Orange */
	--success-color: #41814F; /* Green */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #121212;
		--main-color: rgba(255,255,255,0.8); /* For texts on dark-background */

		/* Shades */
		--background-color-far: #000000;
		--background-color-close: #1E1E1E;

		/* Elements colors */
		--button-color: #070B0E;

		/* Palette */
		--primary-color: #36A2FF; /* Blue */
		--accent-color: #FFC200; /* Yellow, do not use with text */
		--danger-color: #F03331; /* Red */
		--alert-color: #F27D1F; /* Orange */
		--success-color: #4B955E; /* Green */

		/* Image recolorization */
		--image-filter: grayscale(25%);
	}
}

/* Images recolorization */
/* See https://web.dev/prefers-color-scheme/#re-colorize-and-darken-photographic-images */
img:not([src*=".svg"]) {
	filter: var(--image-filter);
}
