.uppercase {  text-transform: uppercase; }

 /* When a text is made all capitals, 
	upper characters are lowercase. 
	e.g. Mᵐᵉ DE SÉVIGNÉ */
.uppercase sup {  text-transform: lowercase; }

.underline {  text-decoration: underline; }

.small-caps,
.smallcaps {
	text-transform: lowercase;
 	font-variant: small-caps;
}

.font-serif { font-family: serif; }

.font-sans { font-family: sans-serif; }

.font-monospace { font-family: monospace; }