/*!
 * Croissant
 * Licensed MIT (https://github.com/yomli/croissant/blob/main/LICENSE)
 */

:root {
	--font-sans: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	--font-system: var(--font-sans);
	--font-serif:  Georgia, Times, "Times New Roman", serif;
	--font-monospace: "Source Code Pro", "Roboto Mono", Cousine, Menlo, Consolas, Courier, monospace;

	--selection-color: rgba(0,113,173,.3);
}

/* Automatic/Manual light mode */
:root,
:root .color-scheme-light {
	--background-color: #F4F4F4;
	--main-color: rgba(0,0,0,0.8);

	/* Shades */
	--background-color-far: #E1E1E1;
	--background-color-close: #FFFFFF;

	/* Color safe on white */
	--blue-color: #0069A2;
	--yellow-color: #FFC200; /* Do not use with text */
	--purple-color: #A22274;
	--red-color: #DE2A2A;
	--orange-color: #C44F0C;
	--green-color: #41814F;

	/* Palette */
	--primary-color: var(--blue-color);
	--accent-color: var(--purple-color);
	--danger-color: var(--red-color);
	--alert-color: var(--orange-color);
	--success-color: var(--green-color);
}

/* Automatic dark mode */
/* Keep the rules in sync with the manual mode */
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #121212;
		--main-color: rgba(255,255,255,0.8); /* For texts on dark-background */

		/* Shades */
		--background-color-far: #000000;
		--background-color-close: #1E1E1E;

		/* Color safe on black */
		--blue-color: #008CD6;
		--yellow-color: #FFC200;
		--purple-color: #9F70CF;
		--red-color: #F03331;
		--orange-color: #F27D1F;
		--green-color: #4B955E;

		/* Image recolorization */
		--image-filter: grayscale(25%);
	}
}

/* Manual dark mode */
/* Keep the rules in sync with the automatic mode */
:root .color-scheme-dark {
	--background-color: #121212;
	--main-color: rgba(255,255,255,0.8);

	/* Shades */
	--background-color-far: #000000;
	--background-color-close: #1E1E1E;

	/* Color safe on black */
	--blue-color: #008CD6;
	--yellow-color: #FFC200;
	--purple-color: #9F70CF;
	--red-color: #F03331;
	--orange-color: #F27D1F;
	--green-color: #4B955E;

	/* Image recolorization */
	--image-filter: grayscale(25%);
}

/* Images recolorization */
/* See https://web.dev/prefers-color-scheme/#re-colorize-and-darken-photographic-images */
img:not([src*=".svg"]) {
	filter: var(--image-filter);
}
