/* Base
   ========================================================================== */

body {
	font-family: var(--font-sans, sans-serif);
	font-size: 1rem;
	font-weight: 400;
	background-color: var(--background-color);
	color: var(--main-color);
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

/* Headings
   ========================================================================== */

h1, .h1 { font-size: 2.5rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; font-weight: 500; }

/* Horizontal rules
   ========================================================================== */

hr {
	margin: 1rem auto;
	border: 0;
	border-top: 1px solid currentColor;
	opacity: 0.5;
}

/* Font styles
   ========================================================================== */

b,
strong,
.bold {
	font-weight: 600;
}

.regular {
	font-weight: normal;
}

.italic {
	font-style: italic;
}

small,
.small {
	font-size: 80%;
	font-weight: 400;
}

/* Lists
   ========================================================================== */

.list-inline li {
	display: inline-block;
}

.list-inline li:not(:last-child) {
	margin-right: 0.5rem;
}

/* Blockquotes & quotes
   ========================================================================== */

blockquote,
.blockquote {
	font-size: 1.25rem;
}

/* Figures
   ========================================================================== */

figure,
.figure {
	display: inline-block; /* Ensures the caption's text aligns with the image. */
}

figure img,
.figure-img {
	margin-bottom: 0.5rem;
	line-height: 1;
}

figcaption,
.figure-caption {
	font-size: 90%;
	color: currentColor;
	opacity: 0.6;
}

/* Code
   ========================================================================== */

/* Inline code */
code {
	color: var(--success-color);
}

/* Keyboard */
kbd {
	padding: 0.2rem 0.4rem;
	background-color: var(--background-color);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2), 0 0 0 2px var(--background-color-close) inset;
	border-radius: 0.2rem;
}