/*!
 * Base
 * Croissant
 */

body {
	overflow-x: hidden;
	color: var(--main-color);
	background-color: var(--background-color);
}

a {
	color: var(--primary-color);
	text-decoration: none;
}
