/* Images
   ========================================================================== */

/**
 * Responsive image as opt-in
 * If applied to all images, it breaks third-party widgets.
 * Ref: https://github.com/twbs/bootstrap/issues/18178
 */
.fit {
	max-width: 100%;
	height: auto;
}

/* Ref: https://archive.hankchizljaw.com/wrote/creating-a-full-bleed-css-utility/ */
.full-bleed {
	width: 100vw;
	height: auto;
	margin-left: 50%;
	transform: translateX(-50%);
}

/* Figures
   ========================================================================== */

figure {
	display: inline-block; /* Ensures the caption's text aligns with the image. */
}

figure img {
	margin-bottom: 0.5rem;
	line-height: 1;
}

figcaption {
	font-size: 90%;
	color: currentColor;
	opacity: 0.6;
	text-align: center;
}
